<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FindEmployees</servlet-name>
  	<display-name>FindEmployees</display-name>
  	<description></description>
  	<servlet-class>Com.Ems.Controller.FindEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FindEmployees</servlet-name>
  	<url-pattern>/Find</url-pattern>
  </servlet-mapping>
</web-app>
